<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="landing.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

        <div class="signin">

            <div class ="form-group was-validated">
                <label for="chk" aria-hidden="true">SeQR</label>
            </div>

            <button (click)="loginClick()">Login</button> 
            <button (click)="scanClick()">Scan QR</button> 

            
			
        </div>

       

	
	</div>
</body>
</html>