<app-navbar></app-navbar>
<div class="scanner-shell" [hidden]="!hasDevices">

<select #selectedValue (change)="onDeviceSelectChange()">
    <option [value]=" " [selected]="!currentDevice">No Device Selected</option>
    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
      [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
</select>


<zxing-scanner class="scanner-window"  [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
[formats]="formatsEnabled"  (permissionResponse)="onHasPermission($event)"
(camerasFound)="onCamerasFound($event)" ></zxing-scanner>


<section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button (click)="clearResult()">&times;</button>
  </section>
<read-qr-component></read-qr-component>


  </div>
