@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';


.container{
    margin-top: 10px;
}

.container .row .align-right{
    text-align: right;
}

.container .row .align-left{
    text-align: left;
}

.container .row .col{
    margin: 10px 0 10px 0;
}

button{
    margin: 0 10px 0 10px;
}

.info{
    font-size: 24px;
}

.manage-svg{
    width: 30px;
    height: 30px;
}