@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 991px) {
    .navbar-nav {
    flex-direction: column;
    }
    
    .navbar-nav .nav-item {
    margin-bottom: 10px;
    }
    
    .navbar-nav .nav-link {
    padding: 5px;
    }
    
    .navbar-collapse {
    justify-content: center;
    }
}

h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0;
	text-align: center;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    padding: 15px;
}

.nav-custom-col-blue{
    background: linear-gradient(to right, #2C3E50      , #000000);
    
}

.nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
}


img {
    height: 45px;
    width: 90px;
}

body{
    width:100%;
    height:auto;
}

.custom-toggler {
   color: white;
}

.svgicons{

    width:30px;
    height:30px;
    
}


body{
    width:100%;
    height:auto;
}

.custom-toggler {
   color: white;
}

.svgicons{
    width:30px;
    height:30px;
}