@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{
    padding: 15px;
}

.nav-custom-col-blue{
    background: linear-gradient(to bottom, #2b5876 , #4e4376);
    
}

.nav-link {
    color: white;
    font-family: "Roboto", sans-serif;
}


img {
    height: 50px;
    width: 90px;
}

body{
    width:100%;
    height:auto;
}

.custom-toggler {
   color: white;
}

.svgicons{

    width:30px;
    height:30px;
    
}


body{
    width:100%;
    height:auto;
}

.custom-toggler {
   color: white;
}

.svgicons{
    width:30px;
    height:30px;
}