<nav class="navbar navbar-expand-lg navbar-dark nav-custom-col-blue bg-body-tertiary">

  <h1 class="navbar-brand" routerLink="/dashboard"><img src="../../../assets/img/qr-navbar-logo.png">SeQR</h1>
  <div class="container-fluid">

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div class="container-fluid">
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="/add-student" aria-current="page"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path>
              </svg> ADD STUDENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/edit-student"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                </path>
              </svg>EDIT STUDENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/manage-account"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
                </path>
              </svg> MANAGE ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/scan-qr-page"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z">
                </path>
              </svg> SCAN QR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/change-logs"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2">
                </path>
              </svg>LOGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/data-analysis"><svg class="w-6 h-6 svgicons" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                </path>
              </svg>DATA ANALYSIS </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link btn" routerLink="/dashboard" (click)="isMenuCollapsed = true">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" *ngIf="!isIdentified" href="https://metamask.io" (click)="isMenuCollapsed = true"
            target="_blank">Install Metamask</a>

          <a *ngIf="isIdentified && !isConnected" class="nav-link btn" (click)="connectMetamask()">
            Connect using Metamask
          </a>

          <a class="nav-link btn" *ngIf="isIdentified && isConnected">CONNECTED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="isMenuCollapsed = true; logout()" routerLink="/">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>