<app-navbar></app-navbar>
<!DOCTYPE html>
<html>

<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="dashboard.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container container-custom">
            <div class="row">
                <div class="col align-self-center">
                    <h1>SeQR</h1>
                    <h2>School Name</h2>
                    <h3>- {{schoolName}}</h3>
                    <h2>Email</h2>
                    <h3>- {{email}}</h3>
                    <hr>
                    <p>Established by the blockchain as a service pioneers
                        <br>
                        <br>Patricia De Borja <br> Reynard Patrick G. Jalosjos <br> Bryan Christian S. Javier <br> Carl
                        Allan Patrick Mercado
                    </p>
                    <button type="button">Explore</button>
                </div>
                <div class="col">
                    <div class="card card1" routerLink="/add-student">
                        <div class="align-center-custom">
                            <h5 class="align-self-center">Add Account</h5>
                            <p class="align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>

                    <div class="card card2" routerLink="/edit-student">
                        <h5>Edit Student</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>

                    <div class="card card3" routerLink="/manage-account">
                        <h5>Account</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>

                    <div class="card card4" routerLink="/scan-qr">
                        <h5>Scan QR</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>

                    <div class="card card5" routerLink="/change-logs">
                        <h5>Logs</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>

                    <div class="card card6" routerLink="/report-logs">
                        <h5>Reports</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>