<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link rel="stylesheet" type="text/css" href="dashboard.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container container-custom">
    <div class="row">
      <div class="left-container">
        <div class="logo-details">

          <h1>SeQR</h1>
          <!-- <h2>School Name</h2>
                      <h3>- {{schoolName}}</h3>
                      <h2>Email</h2>
                      <h3>- {{email}}</h3> -->
          <p>Established by the blockchain as a service pioneers

          </p>
          <button type="button">Explore</button>

        </div>
      </div>

      <div class="right-container">

        <div class="card">
          <img src="../../../assets/img/add2.png" routerLink="/add-student" class="card-img1" alt="">
        </div>

        <div class="card">
          <img src="../../../assets/img/edit-student.png" routerLink="/edit-student" class="card-img1" alt="">
        </div>

        <div class="card">
          <img src="../../../assets/img/manage-account.png" routerLink="/manage-account" class="card-img" alt="">
        </div>

        <div class="card">
          <img src="../../../assets/img/scan-qr.png" routerLink="/scan-qr" class="card-img" alt="">
        </div>

        <div class="card">
          <img src="../../../assets/img/logs.png" routerLink="/change-logs" class="card-img" alt="">
        </div>

        <div class="card">
          <img src="../../../assets/img/reports.png" routerLink="/report-logs" class="card-img" alt="">
        </div>
      </div>
      <!--<div class="card card1" routerLink="/add-student">
        <div class="align-center-custom">
            <h5 class="align-self-center">Add Account</h5>
        </div>
        </div>
        <div class="card card2" routerLink="/edit-student">
          <h5>Edit Student</h5>
        </div>
        <div class="card card3" routerLink="/manage-account">
          <h5>Account</h5>
        </div>
        <div class="card card4" routerLink="/scan-qr">
          <h5>Scan QR</h5>
        </div>
        <div class="card card5" routerLink="/change-logs">
          <h5>Logs</h5>
        </div>
        <div class="card card6" routerLink="/report-logs">
          <h5>Reports</h5>
      </div> -->
    </div>
  </div>
</body>
</html>