.container{
    margin-top: 20px;
}

.container .row .col{
    text-align: center;
    padding: 20px;
}

.container .row .username{
    text-align: left;
}

.container .row .col-4{
    text-align: center;
    padding: 20px;
}

.user{
    height: 120px;
    width: 120px;
}

.btn{
    font-size: 18px;
    height: 100px;
    width: 150px;
    padding: 10px;
}

.mbl{
    display: none;
}

@media only screen and (max-width: 1000px){
    .desktop{
        display: none;
    }

    .mbl{
        display: block;
    }
	.btn{
        height: 100px;
        width: 150px;
        padding: 10px;
    }
}