<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="dashboard.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="left-container">
      <div class="logo-details">
        <h1>SeQR</h1>
        <p>Established by the blockchain as a service pioneers</p>
        <button type="button">Explore</button>
      </div>
    </div>

    <div class="right-container">

      <div class="card">
        <span id="tooltipText">Add Student</span>
        <img src="../../../assets/img/add2.png" routerLink="/add-student" class="card-img" alt="" title="Add Student">
      </div>

      <div class="card">
        <span id="tooltipText">Edit Student</span>
        <img src="../../../assets/img/edit-student.png" routerLink="/edit-student" class="card-img" alt="" title="Edit Student">
      </div>

      <div class="card">
        <span id="tooltipText">Manage Account</span>
        <img src="../../../assets/img/manage-account.png" routerLink="/manage-account" class="card-img" alt="" title="Manage Account">
      </div>

      <div class="card">
        <span id="tooltipText">Scan QR</span>
        <img src="../../../assets/img/scan-qr.png" routerLink="/scan-qr-page" class="card-img" alt="" title="Scan QR">
      </div>

      <div class="card">
        <span id="tooltipText">Change Logs</span>
        <img src="../../../assets/img/logs.png" routerLink="/change-logs" class="card-img" alt="" title="Change Logs">
      </div>

      <div class="card">
        <span id="tooltipText">Data Analysis</span>
        <img src="../../../assets/img/reports.png" routerLink="/report-logs" class="card-img" alt="" title="Report Logs">
      </div>


    </div>
  </div>
</body>
</html>
