body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #E4E5E6   , #00416A);
}

.col {
  flex-basis: 50%;
}
/* https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif og background */ 
h1 {
  background-image: url(https://media.tenor.com/9vRAkntogEMAAAAd/background.gif);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 160px;
  margin: 10px 0;
  background-position: top;
}

p {
  color: #fff;
  font-size:18px;
}

#tooltipText {
 position: absolute;
 left: 50%;
 top: 0;
 transform: translateX(-50%);
 background-color: white;
 color: black;
 white-space: nowrap;
 padding: 10px 15px;
 border-radius: 7px;
 visibility: hidden;
 opacity: 0;
 transition: opacity 0.5s ease;
}

#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #fff #0000 #0000 #0000;
}

.card:hover #tooltipText {
  top: 72%;
  left: 25%;
  visibility: visible;
  opacity: 1;
  background-color: white;
}

.card {
  cursor: pointer;
  width: 300px;
  height: 230px;
  display: inline-block;
  margin: 12px 40px;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  position:relative;
  background: linear-gradient(to right, #2C3E50      , #000000);

}

.card-img {
  display: flex;
  width: 72%;
  margin: auto;
  align-items: center;
  object-fit: fill;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 8px;
}

.card-img1 {
  display: flex;
  width: 72%;
  margin: auto;
  align-items: center;
  object-fit: fill;
  padding-top: 30px;
  padding-left: 29px;
  padding-right: 0px;
}



button {
  height: 30px;
  width: 180px;
  color: #000;
  font-size: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 20px
}

.align-center-custom {
  justify-content: center;
}

.col {
  padding-top: 10px;
  padding-left:50px;

}


.container-custom {
  max-width: 100%;
}

button {
  transition: .2s ease-in;
  cursor: pointer;
}

.card:hover {
    transition: .2s ease-in;
    transform: scale(1.05); 
}

button:hover{
  background: #00416A;
  color: white;
  transform: scale(1.08); 
}

.left-container {
  width: 50%;
  display: flex;
  float: left;
  align-items: center;

}
.right-container {
  background-color: black;
  width: 43%;
  float: right;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px  black;
  background: linear-gradient(to bottom, #E4E5E6   , #00416A);

}

.logo-details {
  text-align: left;
  margin: auto;
}