.container{
    margin-top: 10px;
}

.container .row .col{
    padding: 20px;
}

.container .row .submit-btn{
    text-align: center;
}

input{
    margin: 8px 0 8px 0;
}

.btn{
    font-size: 120%;
    padding: 20px;
    width: 50%;
}

.add-student-plus{
    width: 30px;
    height: 30px;
}