* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


body{
	background: linear-gradient(to bottom, #E4E5E6   , #00416A);
    color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 80px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #E4E5E6   , #00416A);
    overflow: hidden;
    box-shadow: 5px 20px 50px black;
}

.container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;

}

.container .heading::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #2C3E50, #000000);

}

.container form .card-details {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form  .card-details .card-box {
    width:calc(100% /2 - 20px);
    margin-bottom: 20px;

}

.card-details .card-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;

}

.card-details .card-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

form .card-details .card-input {
    width:calc(100% /2 - 20px);
    margin-bottom: 15px;
}


.card-details .card-input .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}

.card-details .card-input input {
    height: 30px;
    width: 60%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}


/* .card-details .card-box input:focus, .card-details .card-box input:valid, {

} */

form .circal-form .circal-title {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;

}

form .circal-form  .category {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

form .button  {
    text-align: center;
}

.form-select {
    height: 45px;
    width: 100% !important;
    outline: none;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    padding-left: 15px !important;
    font-size: 16px !important;
    border-bottom-width: 2px !important;

}

select option {
    color: black;
}

.btn-form{
	width: 30%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: black;
	background: #C1CCD3;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.btn-form:hover{
	background: #00416A;
    color: white;
    transform: scale(1.08);
    cursor: pointer;

}


.csv-file {
    max-width: 200px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    display: block;
    color: black;
	background: #C1CCD3;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

input:required {
    box-shadow:none;
  }

.csv-btn {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.qr-middle {
  visibility: hidden;
	text-align: right;
}

.card-box input[type="file"] {
    height: 100%;
  }


@media (max-width: 584px) {

    .container {
        max-width: 100%;
    }

    body {
        height: 100%;
    }

    form .card-details .card-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .card-details .card-input {
        margin-bottom: 15px;
        width: 100%;
    }

    form.circal-form .category {
        width:100%;
    }

    .container form .card-details{
        max-height: 300px;
        overflow: scroll;
    }

    button {
        width: 80%;
    }

    .qr-middle {
        text-align: center;
    }

    .card-details::_webkit-scrollbar {
        width: 0;
    }



}
