.background{
  background: linear-gradient(to bottom, #E4E5E6   , #b0d3e9);
}

.form-container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.btn-primary {
  display: block;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .form-container {
    margin: 30px auto;
  }
}
