<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatiible" content="IE-edge">
  <meta name="viewport" content="width=devicie-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="add-student.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<app-navbar></app-navbar>
<body>
  <div class="container">
      <div class="heading">Add Student</div>
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit(content)" ngNativeValidate>

          <div class="card-details">

            <div class="card-box">
              <span class="details">First Name</span>
              <input type="text" formControlName="firstname" placeholder="Enter your first name" required>
            </div>

            <div class="card-box">
                <span class="details">Student ID</span>
                <input type="text" formControlName="studentId" placeholder="Enter your Student ID" required>
            </div>

            <div class="card-box">
              <span class="details">Middle Name (Optional)</span> <!--Optional-->
              <input type="text" formControlName="middlename" placeholder="Enter your middle name">
            </div>

            <div class="card-box">
              <span class="details">SO Number</span>
              <input type="text" formControlName="soNumber" placeholder="Enter your SO Number" required>
            </div>

            <div class="card-box">
              <span class="details">Last Name</span>
              <input type="text" formControlName="lastname" placeholder="Enter your last name" required>
            </div>

            <div class="card-box">
              <span class="details">Course</span>
                <select class="form-select" formControlName="course" aria-label="Default select example" required>
                   <option disabled selected hidden>Choose Gender</option>

                  <option *ngFor="let item of courses" [value]="item">{{ item }}</option>
                </select>
            </div>

            <div class="card-input">
              <span class="details">ID Picture</span>
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
          
          <div class="circal-form">
            <span class="circal-title">Gender</span>
            <div class="category">
              <input class="form-check-input" formControlName="sex" value="male" type="radio" name="sex" id="male" checked>  Male
              <input class="form-check-input" formControlName="sex" value="female" type="radio" name="sex" id="female">  Female
            </div>
          </div>

          <div class="csv-file btn btn-wo-ib btn-lg btn-primary">
            Upload CSV
            <import-csv-button
              (isMintingEvent) = "receiveIsMinting($event)"
              (progressBarValueEvent) = "receiveProgressBarValue($event)"
              (progressBarMsgEvent) = "receiverProgressBarMsg($event)">
            </import-csv-button>
          </div>

          <div class="button">
            <button type="submit" class="btn-form btn-primary mb-3">SUBMIT AND MINT</button>
           <app-progressbar 
            [isMinting]="isMinting"
            [progressBarValue]="progressBarValue"
            [progressBarMsg]="progressBarMsg">
          </app-progressbar>
           
          </div>

          <div class="qr-middle">
            <qrcode (qrCodeURL)="onChangeURL($event, content)" [allowEmptyString]="true" [qrdata]="myAngularxQrCode" [alt]="filename" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
            <a [href]="qrCodeDownloadLink" [download]="this.myAngularxQrCode">Download QR</a>
          </div>
      </form>
  </div>
</body>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">SeQR QR Code Created! </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <p>Transaction Hash: {{txnHash}}</p>
    <qrcode [allowEmptyString]="true" [qrdata]="myAngularxQrCode" [alt]="filename" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
    <a [href]="qrCodeDownloadLink" [download]="this.myAngularxQrCode">Download QR</a>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click'); isMinting = false">Close</button>
	</div>
</ng-template>
</html>
