body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #E4E5E6   , #00416A);
    color: black;
	padding-top: 25px;
}

.table>:not(caption)>*>* {
    padding: 1.5rem 1rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.col {
    flex: 1 0 0%;
    margin-top: -6;
    margin-top: -10px !important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    color: white;
    font-size: 20px;
    background-color: #00416A ;
}

button{
    width:160px;
	margin: 1px auto;
	justify-content: center;
	color: #fff;
	background: #243b55 ;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button[disabled] {
    margin: 1px auto;
	justify-content: center;
	color: #fff;
	background: #243b55 ;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


tr:nth-child(even) {
    background-color: #8DC9E1;

}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

/* tr:nth-child(odd) {
    background-color: #C8E7F2;
} */

#QR {
    color: #4c00b0;
    font-weight: 400;
}

button:hover{
	background: #00416A;
    color: white;
    transform: scale(1.08);
    cursor: pointer; 
}

.search  {
	padding-bottom: 30px;
}

.search-mbl, .search-mbl-btn{
    display: none;
}

svg{
    width: 30px;
    height: 30px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 0;

}

.container{
    margin-top: 10px;
}

h3 {
    font-size: 16.5px;
    padding-top: 13px;
    padding-left: 13px;
    font-weight: 500;
}

p .search-text {
	font-size: 20px;
}



table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table>tbody {
    vertical-align: inherit;
    font-size: 19px;
}

p {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.search-dsktp .input-group p {
    margin-top: 10px;
    text-align: center;
  }

.search-dsktp .col {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 770px) {
    .search-dsktp{
        display: none;
    }

    .search-mbl, .search-mbl-btn{
        display: block;
    }

    .container .search-mbl-btn{
        margin: 10px 0 10px 0;
        width: 100%;
    }
}