body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #2b5876   , #4e4376);
    color: white;
	padding-top: 25px;
}

.main{
	width: 600px;
	height: 300px;
    overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #fff;
	background: linear-gradient(to right, #141e30        , #243b55);
}

button{
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #243b55;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: #6d44b8;
}

svg{
    width: 30px;
    height: 30px;
}

.btn{
    background-color: grey;
    color: white;
    border-color: white;
}

.btn:focus{
    background-color: grey;
}

.btn:hover{
    border-width: 1px;
    border-color: black;
}

.container{
    margin-top: 10px;
}

.container .table td{
    /* width: 100%; */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add hover effect to table rows */
tr:hover {
    background-color: #f5f5f5;
}

/* Add zebra-striping to table */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Add border to table */
table {
    border: 1px solid #ccc;
}

/* Add some padding and horizontal alignment to table cells */
td, th {
    padding: 10px;
    text-align: center;
}

/* Add font styles to table headers */
th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.search-input {
    width: 300px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }