svg{
    width: 30px;
    height: 30px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 0;

}

.container{
    margin-top: 10px;
}

h3 {
    font-size: 16.5px;
    padding-top: 13px;
    padding-left: 13px;
    font-weight: 500;
}

p .search-text {
	font-size: 20px;
}



table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table>tbody {
    vertical-align: inherit;
    font-size: 19px;
}

p {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.search-dsktp .input-group p {
    margin-top: 10px;
    text-align: center;
  }

.search-dsktp .col {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 770px) {
    .search-dsktp{
        display: none;
    }

    .search-mbl, .search-mbl-btn{
        display: block;
    }

    .container .search-mbl-btn{
        margin: 10px 0 10px 0;
        width: 100%;
    }
}
