.export-file {
  max-width: 200px;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  display: block;
  color: black;
background: #C1CCD3;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}