html {
	font-size: 16px;
  }
  
  /* Define breakpoints */
  @media only screen and (max-width: 768px) {
	/* Small screens */
	.main {
	  width: 90%;
	  height: auto;
	}
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
	/* Medium screens */
	.main {
	  width: 80%;
	  height: auto;
	}
  }
  
  @media only screen and (min-width: 1025px) {
	/* Large screens */
	.main {
	  width: 900px;
	  height: 700px;
	}
  }

  @media screen and (max-width: 600px) {
    .main {
        border-radius: 0;
        box-shadow: none;
    }
}
  
  /* Styles */
  body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #E4E5E6, #00416A);
  }
  
  .scanner-window {
	width: 100%;
	height: auto;
	margin: 0 auto;
  }
  
  .main {
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  }
  
  .center {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
	display: block;
  }
  
  select {
	text-align: center;
  }