<body>

  <div class="center">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/scan-qr-page">Scan QR</a>
        <a class="dropdown-item" routerLink="/read-qr-page">Upload QR</a>
        <a class="dropdown-item" routerLink="/dashboard">{{idUserEmail ? "Dashboard": "Login"}}</a>
        <!-- dapat dito, kapag logged in na yung user, kita niya is dashboard. Kapag hindi, kita niya is login as choices. Not sure how to implement huhuhuhu-->
      </div>
    </div>


    <div class="main">

      <div class="scanner-shell" [hidden]="!hasDevices">

        <select #selectedValue (change)="onDeviceSelectChange()">
          <option [value]=" " [selected]="!currentDevice">No Device Selected</option>
          <option *ngFor="let device of availableDevices" [value]="device.deviceId"
            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
        </select>

        <zxing-scanner class="scanner-window" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
          [formats]="formatsEnabled" (permissionResponse)="onHasPermission($event)"
          (camerasFound)="onCamerasFound($event)"></zxing-scanner>



      </div>

    </div>

  </div>

</body>