<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Change Logs
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
            </h2>
        </div>
    </div>
    <hr>
    <div class="row search-dsktp">
        <div class="col-4">
            <div class="input-group">
                <input id="search-input" type="search" class="form-control" placeholder="Search anything...">
            </div>
        </div>
        <div class="col">
            <button id="search-button" type="button" class="btn btn-primary">
                Search
            </button>
        </div>
    </div>

    <div class="row search-mbl">
        <div class="col">
            <div class="input-group">
                <input id="search-input" type="search" class="form-control" placeholder="Search anything...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="search-button" type="button" class="btn btn-primary search-mbl-btn">
                Search
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time & Date</th>
                        <th scope="col">Action</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2"
                                style="width: 20px" />
                            {{ country.name }}
                        </td>
                        <td>{{ country.area | number }}</td>
                        <td>{{ country.population | number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary">Export to CSV</button>
        </div>
    </div>
</div>