<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="change-logs.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<app-navbar></app-navbar>
<body>
  <div class="container">
    <div class="row search-dsktp">
      <div class="col">
        <div class="input-group">
          <input id="search-input" type="search" class="form-control" placeholder="Search anything..." 
                 [ngModel]="searchQuery" (ngModelChange)="onSearchInputChange($event)">
        </div>
        <app-export-button-change-logs></app-export-button-change-logs>
      </div>

    <div class="row">
      <div class="col">
        <h2>
          CHANGE LOGS
          <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </h2>
      </div>
    </div>
    <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Time & Date</th>
            <th scope="col">Type</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listItem; index as i">
            <td>
              {{ item.LogDate }}
            </td>
            <td>
              {{ item.LogLevel }}
            </td>
            <td class="td-word-wrap">
              <p>
                {{ item.Message }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- PAGINATION -->
      <div class="pagination">
     
        <button class="btn btn-link" [hidden]="pageCount == 0" [disabled]="currentPage == 1"(click)="setPage(currentPage - 1)">
          Previous
        </button>
        <select #selectedValue [hidden]="pageCount == 0" (change)="setPageEvent()" [value]="currentPage">
          <option *ngFor="let i of range(pageCount)" [value]="i">{{i}}</option>
        </select>
        <button class="btn btn-link" [hidden]="pageCount == 0" [disabled]="currentPage == pageCount" (click)="setPage(currentPage + 1)">
          Next
        </button>
      </div>
    </div>
    </div>
   </div>
   </body>
    </html>




