body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #E4E5E6   , #00416A);
    color: black;
	padding-top: 25px;
}


.td-word-wrap{ 
   /* overflow-wrap: break-word !important; */
    word-break: break-all !important; 
}


button{
	margin: 1px auto;
	justify-content: center;
	color: #fff;
	background: #243b55 ;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.table>thead {
    vertical-align: bottom;
	background-color: #00416A ;
	color: white;
	font-size: 20px;
}

.search  {
	padding-bottom: 30px;
}

button:hover{
	background: #00416A;
    color: white;
    transform: scale(1.08);
    cursor: pointer; 
}

.container{
    margin-top: 10px;
}

svg{
    width: 1em;
    height: 1em;
}

.search-mbl, .search-mbl-btn{
    display: none;
}



.table>tbody {
    vertical-align: inherit;
    font-size: 1.25em !important;
}

