<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>ADD STUDENT RECORD 
        <svg class="add-student-plus" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </h2>
    </div>
    <div class="col">
      <div class="csv-file btn btn-lg btn-primary">
        Upload CSV
        <input class="csv-btn" type="file" name="file" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="formFile" class="form-label">
        <h4>ID Picture:</h4>
        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
          </path>
        </svg>
      </label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <div class="col">
      <h4>FULL NAME:</h4>
      <div class="row">
        <input class="form-control" type="text" placeholder="First Name" aria-label="default input example">
        <input class="form-control" type="text" placeholder="Middle Name" aria-label="default input example">
        <input class="form-control" type="text" placeholder="Last Name" aria-label="default input example">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <h4>COURSE: <input class="form-control" type="text" placeholder="Default input"
          aria-label="default input example"></h4>
      <h4>BATCH: <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
      </h4>
      <h4>STUDENT ID: <input class="form-control" type="text" placeholder="Default input"
          aria-label="default input example"></h4>

      <h4>SEX:</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>

      <h4>SO NUMBER: <input class="form-control" type="text" placeholder="Default input"
          aria-label="default input example"></h4>
    </div>
  </div>
  <div class="row">
    <div class="col submit-btn">
      <button type="submit" class="btn btn-primary mb-3">SUBMIT AND MINT</button>
    </div>
  </div>
</div>