.container{
    margin-top: 10px;
}

svg{
    width: 30px;
    height: 30px;
}

.search-mbl, .search-mbl-btn{
    display: none;
}

@media only screen and (max-width: 770px) {
    .search-dsktp{
        display: none;
    }

    .search-mbl, .search-mbl-btn{
        display: block;
    }

    .container .search-mbl-btn{
        margin: 10px 0 10px 0;
        width: 100%;
    }
}
