body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #E4E5E6   , #00416A);
    color: black;
	padding-top: 25px;
}

.hidden-component{
	display: none;
}

.td-word-wrap{ 
    /* overflow-wrap: break-word !important; */
     word-break: break-all !important; 
 }

 .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #ADD8E6;
 }

.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #B0E0E6;
}

.pagination {
    margin-bottom: 50px;
}

 button{
	margin: 1px auto;
	justify-content: center;
	color: #fff;
	background: #243b55 ;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.table>thead {
    vertical-align: bottom;
	background-color: #00416A ;
	color: white;
	font-size: 20px;
}

.search {
	padding-bottom: 30px;
}

.input-group {
    padding-bottom: 30px;
}

button:disabled {
	background-color:lightblue;
	cursor: not-allowed;
}

tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 0;

}

p, td, th{
	font-size: 19px;
}


button:hover{
	background:  #4F97A3;
    color: black;
    transform: scale(1.08);
    cursor: pointer; 
}

.container {
    margin-top: 10px;
}

.search-mbl, .search-mbl-btn{
    display: none;
}

.table>tbody {
    vertical-align: inherit;
    font-size: 1.10em !important;
}

svg{
    width: 1em;
    height: 1em;
}

@media (-webkit-device-pixel-ratio: 1.25) {
	html {
	  zoom: 95%;
	}
  
	.card {
	  zoom: 80%
	}
  
  }