<body>

  <div class="center">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/scan-qr">Scan QR</a>
        <a class="dropdown-item" routerLink="/read-qr-page">Upload QR</a>
        <a class="dropdown-item" routerLink="/dashboard">{{idUserEmail ? "Dashboard": "Login"}}</a>
        
      </div>
    </div>

    <div class="main">

      <div class="hide-component upload-qr">
            
        <button class="buttonRead">
          <input #imageInput
                type="file"
                accept="image/*"
                (change)="processFile(imageInput)">
        </button>
        <br>
        <img class="no-click " unselectable="on" id="img" [src]="url" height="auto" width="400px" vertical-align="center">
    </div>

    </div>

  </div>

</body>

