<!-- <div class="loading-screen" *ngIf="isLoading">
  <div class="spinner-border text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->


<div class="certificate">
  <div class="certificate-header">
    <h1>Certificate of Completion</h1>
  </div>
  <div class="certificate-body">
    <img src="../../../assets/img/iacademy-logo.png" alt="Certificate Image" class="certificate-image">
    <p>This is to certify that</p>
    <h2>{{ipfsData.lastname}}, {{ipfsData.firstname}} {{ipfsData.middlename ??
      ''}}</h2>
    <p>has successfully completed the course on</p>
    <h3>{{ipfsData.course}}</h3>
    <p>SO Number: </p>
    <h4>{{ipfsData.soNumber}}</h4>
  </div>
</div>