* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #E4E5E6, #00416A);
    color: black;
	padding-top: 25px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	gap: 2rem;
}

.chart {
	padding: 1rem;
	color: white;
	border: 1px solid #f49131;
	border-radius: 1rem;
	background: #251c35;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
	width: 100%;
	max-width: 450px;
}

canvas {
	width: 100%;
	max-width: 100%;
}

/* Media queries for smaller screens */

@media screen and (max-width: 768px) {
	.container {
		gap: 1rem;
		max-width: 90%;
	}
	.chart {
		max-width: 400px;
	}
}

@media screen and (max-width: 480px) {
	.chart {
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
}
